<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Página não encontrada</title>

</head>

<body>
    <div class="img-div">
        <h1>Página não encontrada</h1>
        <p>Desculpe, mas a página que você procura não foi encontrada</p>
        
    </div>
    
    <style>
    
    body {
        background: rgb(243,243,243) url(images/notfound.png) center 100px no-repeat;
        }

        h1 {
            color: rgb(226, 12, 12);
            text-align: center;
            font-family: verdana;

        }

        p {
            color:black;
            font-family: verdana;
            text-align: center;
            font-size: 20px;
        }
    </style>
</body>

</html>