<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Página não encontrada</title>

</head>

<body>

    <h1>Página não encontrada</h1>
    <p>Desculpe, mas a página que você procura não foi encontrada</p>
    <style>
        body {
            background-color: rgb(2, 35, 46);
        }

        h1 {
            color: rgb(226, 12, 12);
            text-align: center;
            font-family: verdana;

        }

        p {
            color: aquamarine;
            font-family: verdana;
            text-align: center;
            font-size: 20px;
        }
    </style>
</body>

</html>