<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<title>Solicitação de Orçamento</title>		

		<!-- CSS -->
		<style>
			#divCabecalho{
				justify-content: flex-end;
			}

			#LinhaDivisoria{
				background-color: brown;
				height: 3px;	
			}
		</style>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

		<!-- Jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

		<!-- JQuery UI -->
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
		<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
		<script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
		
		<!-- Plugin JQuery Validate -->
		<script src="http://jqueryvalidation.org/files/dist/jquery.validate.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.js"></script>
	
		<!-- Form Validation -->
		<script type="text/javascript">
			$(document).ready(function(){
				//Catch the ID user
				var url = window.location.href;
				idToken = url.split('/')[6]
				idUser = idToken.split('?token=')[0]
				token = idToken.split('?token=')[1]
				
				//Event on Date
				$('#data').datepicker({
					dateFormat: 'dd/mm/yy', //Format Brazilian Date
					minDate: 0 //Block choice of previous days
				});

				//Event on button
				$('#btnConfirmar').click(function(e){
					$.validator.addMethod("notEqualTo",function(value, element, params) {
						return this.optional(element) || value != params;
					});

					$('#formRequest').validate({ //Validação dos campos do formulário
						rules: { //Validation Rules
							titSolicitacao:{required: true}, //Nome da Solicitacao nao pode ser vazio
							endOrigem:{required: true}, //Endereco de origem obrigatori
							endDestino:{required: true, notEqualTo: '#endOrigem'}, //Nao aceita o campo CPF vazio
							data:{required: true}, //Nao aceita o campo Telefone vazio   
							hora:{required: true}, //Nao aceita o campo Email vazio
							valorestimado:{required: true}, //Nao aceita o campo Email Alternativo vazio
							desSolicitacao:{required: true}, //Nao aceita o campo Senha do Endereco vazio
						},
						messages: {
							titSolicitacao:{required: 'Campo Obrigatório'},
							endOrigem:{required: 'Campo Obrigatório'},
							endDestino:{required: 'Campo Obrigatório', notEqualTo: 'Destino não pode ser igual a Origem'},
							data:{required: 'Campo Obrigatório'},
							hora:{required: 'Campo Obrigatório'},
							valorestimado:{required: 'Campo Obrigatório'},
							desSolicitacao:{required: 'Campo Obrigatório: Informar um descritivo do tipo de material que deverá ser transportado'},
						},
						submitHandler: function(form){
							//Aqui pega o formulário e o converte em JSON
							var json = JSON.parse(JSON.stringify(jQuery('#formRequest').serializeArray()));
							//Abro uma conexão com o outro servidor, do tipo Post, passo a URL da API, 
							$.ajax({
								type: 'post', //Tipo de Conexao
								url: '/user/orcamento/solicitacao/' + idUser, //URL da API
								dataType: 'json', //Tipo de dado que sera transferido
								data: json, //Enviando o formulario em formato JSON
								contentType: 'application/x-www-form-urlencoded;charset=UTF-8',
								headers:{'token': token}, //Envio em URLEncoded
								success: function(data) {
									alert('Success')
								},
								error: function(request, status, erro){
								}
							}).done(function(result){

							}).fail(function(jqXHR,textStatus,errorThrown){
							});
							
						}  
					});
				});
			
				$('#btnanswer').click(function(e){
					window.location.href = "/user/orcamento/resposta/" + idUser + "?token=" + token; 
				});

				$('#btnSolicitacoes').click(function(e){
					window.location.href = "/user/solicitacao/" + idUser + "?token=" + token; 
				});
			});
		</script>

	</head>
	<body>
		<div class="row col-xs-12 col-sm-12" id="divCabecalho">
			<button type="button" class="btn btn-sm" id="btnanswer">Respostas</button>
			<button type="button" class="btn btn-sm" id="btnSolicitacoes">Minhas Solicitações</button>
			<a href="10.1.0.101:80">
				<button type="button" class="btn btn-sm">Sair</button> 
			</a>
		</div>
			
		<div class="row col-sm-12" id="LinhaDivisoria"></div>
		<h1 class="col-sm-12">Solicitação de Orçamento</h1>
		<div class="container-fluid">
			<form class="form-horizontal" id="formRequest">
				<div class="row col-sm-12">
					<div class="col-sm-12">
						<label for="titSolicitacao">Título da Solicitação:</label>
						<input type="text" class="form-control col-sm-10" name="titSolicitacao" id="titSolicitacao" maxlength="100">
					</div>
					<div class="col-sm-6">
						<label for="endOrigem">Endereço de Origem:</label>
						<select class="form-control col-sm-6" name="endOrigem" id="endOrigem">
							<option disabled selected value>Origem</option>
							<!-- Select Option to Origin -->
							<% for (var i=0;i<address.length; i++){%>
								<option value='<%= address[i].cod_endereco %>'><%= address[i].endereco %></option>
							<% } %>
						</select>
					</div>
					<div class="col-sm-6">
						<label for="endDestino">Endereço de Destino:</label>
						<select class="form-control col-sm-6" name="endDestino" id="endDestino">
							<option disabled selected value>Destino</option>
							<!-- Select Option to Destiny -->
							<% for (var i=0;i<address.length; i++){%>
								<option value='<%= address[i].cod_endereco %>'><%= address[i].endereco %></option>
							<% } %>
						</select>
					</div>				
					<div class="col-sm-3">
						<label for="data">Data:</label>
						<input type="text" class="form-control" placeholder="dd/mm/aaaa" name="data" id="data">
					</div>
					<div class="col-sm-3">
						<label for="hora">Hora:</label>
						<input type="time" class="form-control" placeholder="hh:mm" name="hora" id="hora">
					</div>
					<div class="col-sm-6">
						<label for="valorestimado">Valor dos itens a transportar:</label>
						<input type="text" class="form-control col-sm-5" placeholder="0,00" name="valorestimado" id="valorestimado">
					</div>
					
					<div class="col-sm-12">
						<label for="desSolicitacao">Descrição da Solicitação:</label>
						<textarea class="form-control" name="desSolicitacao" id="desSolicitacao" rows="8" maxlength="2000"></textarea>
						<div class="row">
							<input type="submit" class="col-sm-2" id="btnConfirmar" value="Confirmar">
							<input type="button" class="col-sm-2" id="btnCancelar" value="Cancelar">
							<input type="reset" class="col-sm-2" id="btnRedefinir" value="Redefinir"> 
						</div>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>